.ComplitionBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    background: rgb(163, 72, 255);
    border-radius: 20px;
    width: 100%;
    
    position: absolute;      /* Make it absolute */
    top: 12%;                /* Center vertically */
    left: 50%;               /* Center horizontally */
    transform: translate(-50%, -50%);  /* Adjust for exact center */
}

.ComplitionBox button{
    font-size: 20px;
    padding: 8px 15px;
    background: rgba(255, 255, 255, 0.751);
    border: none;
    border-radius: 10px;
}